h2 {
    text-align: start;
}

.test-vdf {
    padding: var(--space-md);
    background-color: var(--color-bg-tertiary);
}

.test-vdf__text {
    font-size: 24px;
    color: var(--color-primary);
}

.test-vdf__btn {
    padding-top: var(--space-lg);
}
